body {
  margin: 0;
  font-family: "montserrat";
  font-size: 100%;
}

a {
  text-decoration: none;
  color: #51adcf;
}

a:hover {
  color: #e8ffc1;
}

.avatar {
  position: absolute;
  top: 15rem;
  left: 30rem;
  width: 20%;
}

.bio {
  text-align: center;
  margin-top: 5px;
}

li {
  display: inline-block;
  margin-left: 20px;
}

ul {
  list-style: none;
  position: absolute;
  margin-left: 59rem;
  top: 1.1rem;
}

#logo {
  color: #0278ae;
  font-weight: bold;
  font-size: 1.6rem;
  font-family: "montserrat";
  border: #0278ae;
  border-style: dashed;
  display: inline-block;
}

#logo:hover {
  color: #e8ffc1;
}

.navbar {
  position: relative;
}

.header {
  background-color: #a5ecd7;
  margin-bottom: 2rem;
  height: 486px;
}

.header-items {
  margin-left: 2rem;
  position: relative;
}

/* Skills Section */
.skills {
  margin-bottom: 450px;
  text-align: center;
  position: relative;
}

.me-skills {
  position: absolute;
  left: 1rem;
  top: 4rem;
  width: 45%;
}

.dev-skills {
  position: absolute;
  right: 1rem;
  top: 4rem;
  width: 45%;
}

.skills div h3 {
  text-align: left;
}

.skills div p {
  line-height: 2;
  text-align: left;
}

/* Contact */
.contact-me {
  text-align: center;
  margin-bottom: 60px;
}

.text-area {
  width: 500px;
  height: 500px;
  border-radius: 10px;
}
.btn-submit {
  width: 100px;
  height: 40px;
  background-color: transparent;
  border: 1px;
  border-radius: 5px;
  border-style: solid;
  padding: 5px;
}

.btn-submit:hover {
  background-color: #e8ffc1;
}

/* footer */
.footer {
  text-align: center;
  background-color: #a5ecd7;
  padding: 10px;
}

.fab {
  margin-left: 30px;
  font-size: 50px;
  line-height: 2;
}

.fab:hover {
  color: #e8ffc1;
}

.footer p {
  color: #ffffff;
  font-size: 15px;
}
